Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

feat: add workflow to trigger deploy to demo environment (#390)
  .github/workflows/trigger_demo_workflow.yaml
Due: none

small updates to trigger demo workflow
  .github/workflows/trigger_demo_workflow.yaml
Due: none

removing Johanna from CODEOWNERS in main
  .github/CODEOWNERS
Due: none

remove where are we going section from landing page
  src/ui/src/app/page.tsx
Due: frontend-code-checks

adjust scrambling for dates to ensure they are always valid
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
Due: tests-code-checks

write clusters incrementally to avoid loading too many into memory
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

add memory tracing
  tests/load/scripts/scramble_data.py
  tests/load/scripts/visualize_memory_usage.py
Due: tests-code-checks

add flush and update output metrics
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

clean up viz file
  tests/load/scripts/visualize_memory_usage.py
Due: tests-code-checks

improving memory usage in gen_seed_test_data.py
  scripts/gen_seed_test_data.py
Due: none

ensure birthdates cannot be generated as future dates
  tests/load/scrambler/utils.py
Due: tests-code-checks

adding NBS mod statement to landing page
  src/ui/src/app/page.tsx
Due: frontend-code-checks

remove landing page where are we going section (#392)
  src/ui/src/app/page.tsx
Due: frontend-code-checks

remove memory tracking
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

Implement incremental json loading (#389)
  scripts/gen_seed_test_data.py
  tests/load/scrambler/config.py
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
  tests/load/scripts/scramble_data.py
  tests/load/scripts/visualize_memory_usage.py
Due: tests-code-checks

updates to locustfile
  tests/load/locustfile.py
Due: tests-code-checks

update file
  tests/load/locustfile.py
Due: tests-code-checks

try with diff version mypy
  pyproject.toml
Due: none

go back go back
  pyproject.toml
Due: none

adding a grid col to the image to help with wrapping
  src/ui/src/app/page.tsx
Due: frontend-code-checks

better padding in mobile
  src/ui/src/app/layout.tsx
  src/ui/src/styles/index.scss
Due: frontend-code-checks

better margin and paddings
  src/ui/src/app/page.tsx
Due: frontend-code-checks

making table scrollable for mobile
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

fixing buttons on mobile
  src/ui/src/app/match-review/recordView.tsx
Due: frontend-code-checks

pinning mypy to 1.15.0
  pyproject.toml
Due: none

pin mypy to 1.15.0
  pyproject.toml
Due: none

add argument for probability to link
  tests/load/locustfile.py
Due: tests-code-checks

Fixed tablet and mobile view
  src/ui/src/app/home.module.scss
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/matchReview.module.scss
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/app/page.tsx
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/header/header.tsx
  src/ui/src/components/menu/menu.module.scss
  src/ui/src/styles/global.scss
Due: frontend-code-checks

Fixed scrolling
  src/ui/src/app/match-review/matchReview.module.scss
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/styles/global.scss
Due: frontend-code-checks

Fixed reset button position
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-queue/matchQueue.module.scss
Due: frontend-code-checks

remove reference to seld.seeded
  tests/load/locustfile.py
Due: tests-code-checks

ensure that locust task stops when hitting record_to_link
  tests/load/locustfile.py
Due: tests-code-checks

fixes for pytest 8.4.0
  tests/unit/linking/test_link.py
  tests/unit/routes/test_link_router.py
  tests/unit/routes/test_seed_router.py
Due: tests-code-checks

clean up
  tests/unit/conftest.py
  tests/unit/linking/test_link.py
  tests/unit/routes/test_link_router.py
  tests/unit/routes/test_seed_router.py
Due: tests-code-checks

remove lru_cache in favor of fixture session caching
  tests/unit/conftest.py
Due: tests-code-checks

update linking tests to use a copy of the default algorithm before modifying
  tests/unit/linking/test_link.py
Due: tests-code-checks

ignore type checker error on different return type
  pyproject.toml
  src/recordlinker/models/mpi.py
Due: none

caching default algo fixture (#414)
  src/recordlinker/models/mpi.py
  tests/unit/conftest.py
  tests/unit/linking/test_link.py
Due: tests-code-checks

caching default algo fixture (#414)
  src/api/recordlinker/models/mpi.py
  tests/unit/conftest.py
  tests/unit/linking/test_link.py
Due: tests-code-checks, api-code-checks
