Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

tests-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

api-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

frontend-code-checks:
  run: ./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

frontend-style-checks:
  run: ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

Http requests migrated to use util methods
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

Code clean up
  src/ui/src/utils/http.ts
Due: frontend-code-checks

Fixed button min height
  src/ui/src/styles/uswds-customized.scss
Due: none

Reverted changes in main
  src/api/recordlinker/main.py
Due: api-code-checks

px converted to rem
  src/ui/src/components/captionedImage/captionedImage.module.scss
Due: none

add postman collection and README
  docs/postman/README.md
  docs/postman/Record Linker Postman Collection.postman_collection.json
Due: none

typos
  docs/postman/README.md
Due: none

add postman collection and README (#358)
  docs/postman/README.md
  docs/postman/Record Linker Postman Collection.postman_collection.json
Due: none

convert Race object to str
  scripts/gen_seed_test_data.py
Due: none

wrap race in list
  scripts/gen_seed_test_data.py
Due: none

minor changes to the site docs to get the project up and running
  docs/site/configuration.md
  docs/site/installation.md
Due: none

init ACI for recordlinker.dibbs.demo
  ops/terraform/aci/_local.tf
  ops/terraform/aci/_variable.tf
  ops/terraform/aci/main.tf
Due: none

removing old manifests code
  ops/manifests/README
  ops/manifests/record-linkage.yml
  ops/manifests/scripts/minikube-start.sh
Due: none

fixing errors
  ops/terraform/aci/main.tf
Due: none

Fix bug in scripts/gen_seed_data.py (#360)
  scripts/gen_seed_test_data.py
Due: none

Updated copy
  src/ui/src/app/page.tsx
Due: frontend-code-checks

Removed unnecessary space
  src/ui/src/app/page.tsx
Due: frontend-code-checks

Expand and scramble test cases
  tests/algorithm/algo.env
  tests/algorithm/data/expanded_nbs_test.csv
  tests/algorithm/scripts/expand_test_data.py
Due: tests-code-checks

Appease god of linting
  tests/algorithm/scripts/expand_test_data.py
Due: tests-code-checks

merge fixes
  compose.yml
  src/api/recordlinker/main.py
  src/api/recordlinker/routes/health_router.py
  src/api/recordlinker/schemas/__init__.py
  tests/unit/conftest.py
  tests/unit/schemas/test_pii.py
  tests/unit/test_main.py
Due: tests-code-checks, api-code-checks

undoing bad merge comment
  tests/unit/conftest.py
Due: tests-code-checks

more fixes
  .github/workflows/check_smoke_tests.yml
  src/api/recordlinker/main.py
Due: api-code-checks

fix test cases
  src/api/recordlinker/main.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/routes/test_link_router.py
  tests/unit/routes/test_patient_router.py
  tests/unit/routes/test_person_router.py
  tests/unit/routes/test_seed_router.py
  tests/unit/test_main.py
  tests/unit/test_middleware.py
Due: tests-code-checks, api-code-checks

dont show root in schema docs
  src/api/recordlinker/main.py
Due: api-code-checks

dont show root redirect in openapi docs
  src/recordlinker/main.py
Due: none

minor installation doc changes (#361)
  docs/site/configuration.md
  docs/site/installation.md
  src/recordlinker/main.py
Due: none

Updates copy and implements last round of clean ups (#353)
  src/ui/public/files/record_linker_process_diagram.pdf
  src/ui/public/images/record-linker-data-flow-min.png
  src/ui/public/images/record-linker-diagram-2.png
  src/ui/public/images/record-linker-process-min.png
  src/ui/src/app/home.module.scss
  src/ui/src/app/match-queue/ResetDemoButton.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/app/page.tsx
  src/ui/src/components/captionedImage/captionedImage.module.scss
  src/ui/src/components/captionedImage/captionedImage.tsx
  src/ui/src/components/header/header.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/utils/http.ts
Due: frontend-code-checks

remove context from results in algorithm list
  src/recordlinker/schemas/algorithm.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

Expand and scramble test cases (#364)
  tests/algorithm/algo.env
  tests/algorithm/data/expanded_nbs_test.csv
  tests/algorithm/scripts/expand_test_data.py
Due: tests-code-checks

remove context from results in algorithm list (#369)
  src/recordlinker/schemas/algorithm.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

customizing doc theme
  docs/mkdocs.yml
  docs/site/assets/cdc-logo.svg
  docs/site/assets/record-linker-diagram.svg
  docs/site/assets/record-linker-logo.svg
  docs/site/assets/record-linker-process-min.png
  docs/site/index.md
  docs/site/stylesheets/custom.css
Due: none

dont need the cdc logo
  docs/site/assets/cdc-logo.svg
Due: none

small fixes
  docs/mkdocs.yml
  docs/site/index.md
  scripts/build_docs.sh
Due: none

need to make the site name 2 words
  docs/mkdocs.yml
  scripts/build_docs.sh
Due: none

customizing site docs theme (#374)
  docs/mkdocs.yml
  docs/site/assets/record-linker-diagram.svg
  docs/site/assets/record-linker-logo.svg
  docs/site/assets/record-linker-process-min.png
  docs/site/index.md
  docs/site/stylesheets/custom.css
  scripts/build_docs.sh
Due: none

reorganizing docs
  docs/mkdocs.yml
  docs/site/algo-configuration.md
  docs/site/app-configuration.md
  docs/site/getting-started.md
  docs/site/installation.md
  docs/site/schema-design.md
Due: none

making default dev server port 8080 just like docker
  scripts/local_server.sh
Due: none

initial push
  scripts/gen_seed_test_data.py
  src/recordlinker/assets/test_data.json
  tests/load/locustfile.py
Due: tests-code-checks

small changes to getting started guide language
  docs/site/getting-started.md
Due: none

Path conditions:
  tests-code-checks: any of: tests/*.py
  api-code-checks: any of: src/api/recordlinker/*.py
  frontend-code-checks: any of: *.{js,ts,jsx,tsx} and ^src/ui/
  frontend-style-checks: any of: *.css and ^src/ui/
