Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

update tests
  src/api/recordlinker/routes/demo_router.py
  tests/unit/conftest.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Refactor of the empty queue component to be reusable
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/emptyFallback/emptyFallback.module.scss
  src/ui/src/components/emptyFallback/emptyFallback.tsx
  src/ui/src/utils/deserializers.ts
Due: frontend-code-checks

Define default skip values, update test data (#338)
  compose.yml
  src/recordlinker/assets/initial_algorithms.json
  tests/algorithm/configurations/algorithm_configuration.json
Due: none

fixes for the performance scripts
  compose.yml
  tests/performance/conf/postgresql.conf
  tests/performance/rlpt.env
  tests/performance/scripts/send_linkage_requests.sh
  tests/performance/scripts/test_synthea_data.sh
Due: none

Clean up of link score formatting
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

Removed unused file
  src/ui/src/data/algorithm.ts
Due: frontend-code-checks

schema.AlgorithmContext (#330)
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  src/recordlinker/linking/matchers.py
  src/recordlinker/models/algorithm.py
  src/recordlinker/schemas/__init__.py
  src/recordlinker/schemas/algorithm.py
  src/recordlinker/schemas/pii.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/database/test_algorithm_service.py
  tests/unit/database/test_mpi_service.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

Implemented AppError class
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/utils/deserializers.ts
  src/ui/src/utils/errors.ts
Due: frontend-code-checks

Fixed endpoint
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

remove _get_fuzzy_params
  src/recordlinker/linking/matchers.py
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

Add link and unlink endpoints (#335)
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/session_store.py
  tests/unit/conftest.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Add stats calculations and results display
  tests/algorithm/algo.env
  tests/algorithm/data/nbs_seed.csv
  tests/algorithm/data/nbs_test.csv
  tests/algorithm/scripts/calculate_metrics.py
  tests/algorithm/scripts/run_test.py
  tests/algorithm/scripts/send_test_records.py
Due: tests-code-checks

fixes for the performance scripts (#340)
  compose.yml
  tests/performance/conf/postgresql.conf
  tests/performance/rlpt.env
  tests/performance/scripts/send_linkage_requests.sh
  tests/performance/scripts/test_synthea_data.sh
Due: none

Remove unnecessary var
  tests/algorithm/scripts/calculate_metrics.py
Due: tests-code-checks

Add stats calculations and results display (#342)
  tests/algorithm/algo.env
  tests/algorithm/data/nbs_seed.csv
  tests/algorithm/data/nbs_test.csv
  tests/algorithm/scripts/calculate_metrics.py
  tests/algorithm/scripts/run_test.py
  tests/algorithm/scripts/send_test_records.py
Due: tests-code-checks

Removed unused var
  src/ui/src/utils/deserializers.ts
Due: frontend-code-checks

remove config param from vulnerability workflow
  .github/workflows/check_code_vulnerabilities.yml
Due: none

updated background color
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
Due: none

adding ghcr.io vulnerability scan job
  .github/workflows/scan_trivy.yml
Due: none

syntax fix
  .github/workflows/scan_trivy.yml
Due: none

only fail on high/critical vulnerabilities
  .github/workflows/scan_trivy.yml
Due: none

upgrade linux libc dev headers
  Dockerfile
Due: none

revert docker changes
  Dockerfile
Due: none

upload scan results to github security
  .github/workflows/scan_trivy.yml
Due: none

dont fail trivy scan when it finds vulnerabilities
  .github/workflows/scan_trivy.yml
Due: none

removing testing code
  .github/workflows/scan_trivy.yml
Due: none

Integrate endpoints in match queue and match review pages (#341)
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/emptyFallback/emptyFallback.module.scss
  src/ui/src/components/emptyFallback/emptyFallback.tsx
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/data/algorithm.ts
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
  src/ui/src/models/recordMatch.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
  src/ui/src/utils/deserializers.ts
  src/ui/src/utils/errors.ts
Due: frontend-code-checks

Handle suffix during evaluation
  src/recordlinker/linking/matchers.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

rename link.invoke to link.invoke_evaluator
  src/recordlinker/linking/link.py
  tests/unit/linking/test_link.py
Due: tests-code-checks

testing out a version where the compare methods use the same signature
  src/recordlinker/linking/matchers.py
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

add reset endpoint
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

add tests
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

add error handling
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

Revert "add tests"
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

add tests that were lost
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

don't know why the revert didn't work fully
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

Add endpoint to reset demo (#348)
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

removing references to kwargs
  docs/site/reference.md
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/linking/matchers.py
  src/recordlinker/schemas/algorithm.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/database/test_algorithm_service.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

Implemented centralized toast integration
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/app/layout.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/toast/toast.tsx
  src/ui/src/styles/global.scss
Due: frontend-code-checks

Integrated with link unlink endpoints
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/data/matchReview.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks
