Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

updates to locustfile (#394)
  pyproject.toml
  tests/load/locustfile.py
  tests/unit/linking/test_link.py
  tests/unit/routes/test_link_router.py
Due: tests-code-checks

Fixed tablet and mobile view (#413)
  src/api/recordlinker/models/mpi.py
  src/ui/src/app/home.module.scss
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-queue/matchQueue.module.scss
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/matchReview.module.scss
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/app/page.tsx
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/header/header.tsx
  src/ui/src/components/menu/menu.module.scss
  src/ui/src/styles/global.scss
  tests/unit/conftest.py
  tests/unit/linking/test_link.py
Due: tests-code-checks, api-code-checks, frontend-code-checks

add index on blockingkey and value
  src/recordlinker/models/mpi.py
Due: none

add message about successfully seeding
  tests/performance/scripts/seed_db.sh
Due: none

allow empty patient refs
  src/recordlinker/database/mpi_service.py
  src/recordlinker/schemas/mpi.py
Due: none

allowing patients to be created without a person cluster
  src/recordlinker/routes/patient_router.py
  src/recordlinker/schemas/mpi.py
  tests/unit/routes/test_patient_router.py
Due: tests-code-checks

revert some changes
  src/recordlinker/database/mpi_service.py
  src/recordlinker/routes/patient_router.py
Due: none

test case for deleting patient with blocking values
  tests/unit/routes/test_patient_router.py
Due: tests-code-checks

delete blockingvalues for patient
  src/recordlinker/database/mpi_service.py
Due: none

use not exists for orphaned persons query
  src/recordlinker/database/mpi_service.py
Due: none

upgrade mypy to latest
  pyproject.toml
Due: none

remove Johanna as codeowner
  .github/CODEOWNERS
Due: none

allow dependabots PRs to post to slack
  .github/workflows/slack_notifier_merged.yml
  .github/workflows/slack_notifier_review.yml
Due: none

a couple moer security measures for the demo deploy workflow
  .github/workflows/trigger_demo_workflow.yaml
Due: none

fix: small updates to trigger demo workflow (#391)
  .github/CODEOWNERS
  .github/workflows/trigger_demo_workflow.yaml
Due: none

adding indicies to improve blocking
  src/recordlinker/models/mpi.py
Due: none

adding indicies to improve blocking (#421)
  src/recordlinker/models/mpi.py
Due: none

use not exists for orphaned persons query (#419)
  src/recordlinker/database/mpi_service.py
Due: none

bugfix: delete patient with keys (#418)
  src/recordlinker/database/mpi_service.py
  tests/unit/routes/test_patient_router.py
Due: tests-code-checks

type check and automation cleanup (#420)
  .github/workflows/slack_notifier_merged.yml
  .github/workflows/slack_notifier_review.yml
  pyproject.toml
Due: none

utility function to create a utc datetime
  src/recordlinker/utils/datetime.py
  tests/unit/utils/test_datetime.py
Due: tests-code-checks

adding tuning models
  src/recordlinker/models/__init__.py
  src/recordlinker/models/tuning.py
Due: none

adding tuning pydantic schemas
  src/recordlinker/schemas/__init__.py
  src/recordlinker/schemas/tuning.py
  tests/unit/schemas/test_tuning.py
Due: tests-code-checks

Generate class partitions for tuning
  src/recordlinker/database/mpi_service.py
  tests/unit/assets/100_cluster_tuning_test.json.gz
  tests/unit/database/test_mpi_service.py
Due: tests-code-checks

ruff
  src/recordlinker/database/mpi_service.py
  tests/unit/database/test_mpi_service.py
Due: tests-code-checks

mypy
  src/recordlinker/database/mpi_service.py
  tests/unit/database/test_mpi_service.py
Due: tests-code-checks

add tuning_service for basic DAL operations on tuning jobs
  src/recordlinker/database/tuning_service.py
  src/recordlinker/schemas/tuning.py
  tests/unit/database/test_tuning_service.py
Due: tests-code-checks

linting fixes
  src/recordlinker/models/tuning.py
  src/recordlinker/schemas/__init__.py
Due: none

type check fixes
  src/recordlinker/models/algorithm.py
  src/recordlinker/splunk.py
Due: none

fix datetime assertions
  tests/unit/database/test_tuning_service.py
Due: tests-code-checks

adding now_utc_no_ms
  src/recordlinker/database/tuning_service.py
  src/recordlinker/schemas/tuning.py
  src/recordlinker/utils/datetime.py
  tests/unit/database/test_tuning_service.py
  tests/unit/utils/test_datetime.py
Due: tests-code-checks

var name change
  src/recordlinker/database/tuning_service.py
Due: none

adding a tuning feature flag
  pyproject.toml
  src/recordlinker/config.py
  src/recordlinker/database/__init__.py
  tests/unit/database/test_base.py
Due: tests-code-checks

future proofing tables tests
  tests/unit/database/test_base.py
Due: tests-code-checks

added load testing deps to pyproject dev dependicies
  pyproject.toml
Due: none

adding ability to track speed differences of match grade
  tests/load/assets/test_data.json
  tests/load/locustfile.py
Due: tests-code-checks

adding more options to locust runs
  tests/load/locustfile.py
Due: tests-code-checks

gen_seed_test_data improvements, now allows for scambling
  scripts/gen_seed_test_data.py
Due: none

adding load testing README
  tests/load/README.md
Due: none

making more params required
  tests/load/locustfile.py
Due: tests-code-checks
