Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

reorganize site docs (#375)
  docs/mkdocs.yml
  docs/site/algo-configuration.md
  docs/site/app-configuration.md
  docs/site/getting-started.md
  docs/site/installation.md
  docs/site/schema-design.md
  scripts/local_server.sh
Due: none

adding a new script to help with running an example test
  scripts/linkage_tests.sh
Due: none

rename
  scripts/example_linkage_test.sh
Due: none

updating smoke tests to use new example script
  .github/workflows/check_smoke_tests.yml
Due: none

add docstrings for locustfile.py
  tests/load/locustfile.py
Due: tests-code-checks

revert to old way for checking healthy service
  .github/workflows/check_smoke_tests.yml
Due: none

fix filename
  .github/workflows/check_smoke_tests.yml
Due: none

linting
  tests/load/scripts/expand_test_data.py
Due: tests-code-checks

Revert "add docstrings for locustfile.py"
  scripts/gen_seed_test_data.py
  tests/load/locustfile.py
Due: tests-code-checks

undo file commit
  tests/load/scripts/expand_test_data.py
Due: tests-code-checks

undo changes to gen_seed_test_data
  scripts/gen_seed_test_data.py
Due: none

updating site docs with info on running example script
  docs/site/getting-started.md
Due: none

pr updates
  tests/load/assets/test_data.json
  tests/load/locustfile.py
Due: tests-code-checks

remove comment
  tests/load/locustfile.py
Due: tests-code-checks

Add initial locustfile for load testing (#380)
  tests/load/assets/test_data.json
  tests/load/locustfile.py
Due: tests-code-checks

enhanced smoke test and example usage (#378)
  .github/workflows/check_smoke_tests.yml
  docs/site/getting-started.md
  scripts/example_linkage_test.sh
Due: none

Fixed dependency tree and removed legacy peer deps flag
  Dockerfile
  scripts/bootstrap.sh
  src/ui/package-lock.json
  src/ui/package.json
Due: none

Fixes dependency tree (#381)
  Dockerfile
  scripts/bootstrap.sh
  src/ui/package-lock.json
  src/ui/package.json
Due: none

initial push
  tests/load/scrambler/__init__.py
  tests/load/scrambler/base.py
  tests/load/scrambler/csv.py
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
  tests/load/scripts/__init__.py
  tests/load/scripts/expand_test_data.py
Due: tests-code-checks

add new config value for demo mode
  src/api/recordlinker/config.py
Due: api-code-checks

only enable the linkage api endpoints if demo mode is disabled
  src/api/recordlinker/main.py
Due: api-code-checks

need to expose the port
  docs/site/getting-started.md
Due: none

demo mode (#383)
  src/api/recordlinker/config.py
  src/api/recordlinker/main.py
Due: api-code-checks

clean up
  tests/load/scrambler/base.py
  tests/load/scrambler/csv.py
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
  tests/load/scripts/expand_test_data.py
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

clean up
  tests/load/scrambler/csv.py
  tests/load/scrambler/json.py
Due: tests-code-checks

add config
  tests/load/scrambler/config.py
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
Due: tests-code-checks

Upgrade testing framework
  tests/algorithm/algo.env
  tests/algorithm/data/README.md
  tests/algorithm/data/better_test.csv
  tests/algorithm/data/nbs_seed.csv
Due: none

Accept proxy headers
  Dockerfile
Due: none

clean up
  tests/load/scrambler/json.py
Due: tests-code-checks

Accept proxy headers (#386)
  Dockerfile
Due: none

Upgrade testing framework (#385)
  tests/algorithm/algo.env
  tests/algorithm/data/README.md
  tests/algorithm/data/better_test.csv
  tests/algorithm/data/nbs_seed.csv
Due: none

Add scrambler for load testing (#384)
  tests/load/scrambler/__init__.py
  tests/load/scrambler/config.py
  tests/load/scrambler/json.py
  tests/load/scrambler/utils.py
  tests/load/scripts/__init__.py
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

calibration job table to track task status
  src/recordlinker/models/__init__.py
  src/recordlinker/models/calibration.py
Due: none

calibration start and get routes
  src/recordlinker/main.py
  src/recordlinker/routes/calibration_router.py
Due: none

new test for managing a calibration job
  scripts/example_linkage_test.sh
Due: none

calibration_job table can use a varchar as the PK
  src/recordlinker/models/calibration.py
Due: none

bump mac duplicate cases
  tests/load/scrambler/config.py
Due: tests-code-checks

modify json scrmabler to work on a single cluster at a time
  tests/load/scrambler/json.py
Due: tests-code-checks

modify scrambler to work over a single cluster at time from the original data
  tests/load/scripts/scramble_data.py
Due: tests-code-checks

feat: add trigger deploy to demo workflow
  .github/workflows/trigger_demo_workflow.yaml
Due: none
