Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

tests-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

api-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

frontend-code-checks:
  run: ./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

frontend-style-checks:
  run: ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

Handle suffix during evaluation (#346)
  src/recordlinker/linking/matchers.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

adding Johanna as a codeowner on main
  .github/CODEOWNERS
Due: none

adding ghcr.io vulnerability scan job (#345)
  .github/CODEOWNERS
  .github/workflows/scan_trivy.yml
Due: none

fix matcher test cases post merge
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

Fixed toast variables values
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
Due: none

add reset demo button
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/components/ResetDemoButton.tsx
Due: frontend-code-checks

linting
  src/ui/src/components/ResetDemoButton.tsx
Due: frontend-code-checks

revert fcc9e22
  src/recordlinker/linking/matchers.py
  tests/unit/linking/test_matchers.py
Due: tests-code-checks

Algorithm context advanced section (#334)
  .github/workflows/check_code_vulnerabilities.yml
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  src/recordlinker/linking/matchers.py
  src/recordlinker/models/algorithm.py
  src/recordlinker/schemas/__init__.py
  src/recordlinker/schemas/algorithm.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/database/test_algorithm_service.py
  tests/unit/database/test_mpi_service.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

improving algorithm schema field descriptions
  src/recordlinker/schemas/algorithm.py
Due: none

include credentials in requests to send cookies
  src/ui/src/components/ResetDemoButton.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

rename session_store to cookie_store
  src/api/recordlinker/cookie_store.py
  tests/unit/routes/test_demo_router.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks

Implemented alert type specific styling
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/page.tsx
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

Code clean up
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/styles/global.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
Due: none

Updated docker compose with dummy secret key
  compose.yml
Due: none

Updated header, match queue and match review copy
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/page.tsx
  src/ui/src/components/header/header.tsx
Due: frontend-code-checks

renaming cookie_store
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

Rough implementation of content updates in landing page
  src/ui/public/images/record-linker-data-flow-min.png
  src/ui/public/images/record-linker-diagram-2.png
  src/ui/public/images/record-linker-process-min.png
  src/ui/src/app/page.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

include credentials
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

remove prints
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

kwargs cleanup (#350)
  docs/site/reference.md
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/linking/matchers.py
  src/recordlinker/schemas/algorithm.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/database/test_algorithm_service.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

clean up
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Update src/ui/src/data/matchReview.ts
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

First implementation of captioned image component
  src/ui/src/app/home.module.scss
  src/ui/src/app/page.tsx
  src/ui/src/components/captionedImage/captionedImage.tsx
Due: frontend-code-checks

First implementation of captioned image component
  src/ui/src/components/captionedImage/captionedImage.tsx
Due: frontend-code-checks

Included diagram as download file
  src/ui/public/files/record_linker_process_diagram.pdf
  src/ui/src/app/page.tsx
  src/ui/src/components/captionedImage/captionedImage.module.scss
  src/ui/src/components/captionedImage/captionedImage.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Fixed heading in process list
  src/ui/src/app/page.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Integrate link unlink endpoints (#351)
  compose.yml
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/app/layout.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/app/page.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/toast/toast.tsx
  src/ui/src/data/matchReview.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

delete duplicate code
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

Added gzip compression middleware
  src/api/recordlinker/main.py
Due: api-code-checks

Added gzip compression middleware (#352)
  src/api/recordlinker/main.py
Due: api-code-checks

move resetDemobutton
  src/ui/src/app/match-queue/ResetDemoButton.tsx
  src/ui/src/app/match-queue/layout.tsx
Due: frontend-code-checks

move resetDemoData to MatchQueue
  src/ui/src/app/match-queue/ResetDemoButton.tsx
  src/ui/src/data/matchQueue.ts
Due: frontend-code-checks

remove delete_cookie
  src/api/recordlinker/cookie_store.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks

Add feature medians
  src/recordlinker/linking/link.py
  src/recordlinker/schemas/link.py
  tests/unit/linking/test_link.py
Due: tests-code-checks

Implement reset demo link (#349)
  src/api/recordlinker/cookie_store.py
  src/api/recordlinker/routes/demo_router.py
  src/ui/src/app/match-queue/ResetDemoButton.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  tests/unit/routes/test_demo_router.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks, frontend-code-checks

Add feature medians (#355)
  src/recordlinker/linking/link.py
  src/recordlinker/schemas/link.py
  tests/unit/linking/test_link.py
Due: tests-code-checks

Updated copy
  src/ui/src/app/page.tsx
Due: frontend-code-checks

Code clean up
  src/api/recordlinker/main.py
  src/ui/src/app/match-queue/ResetDemoButton.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/utils/http.ts
Due: api-code-checks, frontend-code-checks

Path conditions:
  tests-code-checks: any of: tests/*.py
  api-code-checks: any of: src/api/recordlinker/*.py
  frontend-code-checks: any of: *.{js,ts,jsx,tsx} and ^src/ui/
  frontend-style-checks: any of: *.css and ^src/ui/
