Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

tests-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

api-code-checks:
  run: ./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}

frontend-code-checks:
  run: ./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

frontend-style-checks:
  run: ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}

Added missing text-style to footer slogan
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/header/header.tsx
Due: frontend-code-checks

Added missing text-style to footer slogan
  src/ui/src/app/page.tsx
Due: frontend-code-checks

Fixed typo in comment
  src/ui/next.config.ts
Due: frontend-code-checks

Added demo branch in slack notification jobs
  .github/workflows/slack_notifier_merged.yml
  .github/workflows/slack_notifier_review.yml
Due: none

test cases for cleaning
  src/recordlinker/linking/clean.py
  tests/unit/linking/test_clean.py
Due: tests-code-checks

Demo and Main sync (includes resolving merge conflicts) (#289)
  .github/workflows/check_smoke_tests.yml
  docs/site/design.md
  src/api/recordlinker/assets/initial_algorithms.json
  src/api/recordlinker/linking/link.py
  src/api/recordlinker/linking/matchers.py
  src/api/recordlinker/models/algorithm.py
  src/api/recordlinker/routes/link_router.py
  src/api/recordlinker/schemas/__init__.py
  src/api/recordlinker/schemas/algorithm.py
  src/api/recordlinker/schemas/link.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/algorithm/scripts/send_test_records.py
  tests/unit/assets/multiple_matches_patient_bundle.json
  tests/unit/database/test_algorithm_service.py
  tests/unit/linking/test_link.py
  tests/unit/models/test_algorithm.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/routes/test_link_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks, api-code-checks

bugfix for null values (#282)
  src/recordlinker/schemas/identifier.py
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_algorithm.py
  tests/unit/schemas/test_identifier.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

NAME feature (#279)
  docs/site/reference.md
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

Updating lefthook configuration
  lefthook.yml
  pyproject.toml
Due: none

Moved lefthook to dev dependencies
  pyproject.toml
Due: none

adding skip values to algorithm (#280)
  src/recordlinker/models/algorithm.py
  src/recordlinker/schemas/algorithm.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

fix test case
  tests/unit/linking/test_clean.py
Due: tests-code-checks

Moved images to images folder
  src/ui/public/file.svg
  src/ui/public/globe.svg
  src/ui/public/images/cdc-logo.svg
  src/ui/public/images/record-linker-diagram-1.svg
  src/ui/public/images/record-linker-diagram-2.png
  src/ui/public/images/record-linker-logo.svg
  src/ui/public/window.svg
  src/ui/src/app/page.tsx
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/header/header.tsx
Due: frontend-code-checks

Setup of images and js css bundles route
  src/api/recordlinker/main.py
Due: api-code-checks

Removed unused scss module from poc implementation
  src/ui/src/app/page.module.scss
Due: none

fixing syntax
  src/recordlinker/linking/clean.py
Due: none

adding info to developer guide on updating clean
  docs/developer_guide.md
Due: none

moving comment
  src/recordlinker/linking/matchers.py
Due: none

Identifier.value should be required
  src/recordlinker/schemas/identifier.py
Due: none

revert change
  src/recordlinker/schemas/pii.py
Due: none

revert reformatting
  src/recordlinker/schemas/pii.py
Due: none

elements in PiiRecord.race list should not be optional
  src/recordlinker/linking/clean.py
  src/recordlinker/schemas/pii.py
  tests/unit/linking/test_clean.py
Due: tests-code-checks

clean for feature NAME
  src/recordlinker/linking/clean.py
  tests/unit/linking/test_clean.py
Due: tests-code-checks

Fixing rehydration files not being served. Mounting path for nextjs output folder set to root
  src/api/recordlinker/main.py
Due: api-code-checks

Landing page (#285)
  .github/workflows/slack_notifier_merged.yml
  .github/workflows/slack_notifier_review.yml
  lefthook.yml
  pyproject.toml
  src/api/recordlinker/main.py
  src/ui/.browserslistrc
  src/ui/next.config.ts
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/public/file.svg
  src/ui/public/globe.svg
  src/ui/public/images/cdc-logo.svg
  src/ui/public/images/record-linker-diagram-1.svg
  src/ui/public/images/record-linker-diagram-2.png
  src/ui/public/images/record-linker-logo.svg
  src/ui/public/window.svg
  src/ui/src/app/favicon.ico
  src/ui/src/app/home.module.scss
  src/ui/src/app/layout.tsx
  src/ui/src/app/page.module.scss
  src/ui/src/app/page.tsx
  src/ui/src/app/wizard/page.tsx
  src/ui/src/components/footer/footer.module.scss
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/header/header.module.scss
  src/ui/src/components/header/header.tsx
  src/ui/src/styles/global.scss
  src/ui/src/styles/index.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/uswds-theme.scss
  src/ui/src/styles/variables.scss
Due: api-code-checks, frontend-code-checks

Implemented shell of record queue page
  src/ui/public/images/empty-folder.png
  src/ui/src/app/page.tsx
  src/ui/src/app/record-queue/emptyQueue.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/record-queue/record-queue.module.scss
  src/ui/src/components/serverError/errorHeading.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/styles/global.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

Implemented server error
  src/ui/src/app/page.tsx
  src/ui/src/app/record-queue/emptyQueue.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/record-queue/record-queue.module.scss
  src/ui/src/components/serverError/errorHeading.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

Implemented overwrite of usa table and first draft of record table
  src/ui/public/images/up-tick.svg
  src/ui/src/app/record-queue/emptyQueue.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/record-queue/recordTable.tsx
  src/ui/src/models/dataStream.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

Implemented first draft of record table
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

workflow to create publish demo containers to ghcr.io
  .github/workflows/demo_package.yml
Due: none

adding Johanna as a CODEOWNER
  .github/CODEOWNERS
Due: none

temp change to test the workflow
  .github/workflows/demo_package.yml
Due: none

fix git history
  .github/workflows/demo_package.yml
Due: none

remove test code
  .github/workflows/demo_package.yml
Due: none

Implemented table to be a little bit more dynamix
  src/ui/src/app/page.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/utils/constants.ts
Due: frontend-code-checks

Added date formating
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

Update src/recordlinker/linking/link.py
  src/recordlinker/linking/link.py
Due: none

demo packages (#315)
  .github/CODEOWNERS
  .github/workflows/demo_package.yml
Due: none

Implemented record queue layout and integrated with dummy data
  src/ui/eslint.config.mjs
  src/ui/src/app/record-queue/layout.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/wizard/page.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/data/recordQueue.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

changing the compare sign to accept two piirecords
  src/recordlinker/linking/link.py
  src/recordlinker/schemas/pii.py
  tests/unit/linking/test_link.py
Due: tests-code-checks

Path conditions:
  tests-code-checks: any of: tests/*.py
  api-code-checks: any of: src/api/recordlinker/*.py
  frontend-code-checks: any of: *.{js,ts,jsx,tsx} and ^src/ui/
  frontend-style-checks: any of: *.css and ^src/ui/
