Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

configurable API root path (#320)
  .github/workflows/check_smoke_tests.yml
  docs/site/configuration.md
  src/recordlinker/config.py
  src/recordlinker/main.py
  tests/unit/routes/test_seed_router.py
  tests/unit/test_config.py
  tests/unit/test_main.py
Due: tests-code-checks

update data for new format
  src/api/recordlinker/assets/demo_data.json
Due: none

updates for moving link_score into PotentialMatch and allowing for multiple matches
  src/api/recordlinker/assets/demo_data.json
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/__init__.py
  src/api/recordlinker/schemas/demo.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

remove models.AlgorithmPass (#326)
  src/recordlinker/database/algorithm_service.py
  src/recordlinker/models/__init__.py
  src/recordlinker/models/algorithm.py
  tests/unit/database/test_algorithm_service.py
  tests/unit/models/test_algorithm.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

adding log odds, skip values and include multiple to algorithm context object
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/linking/link.py
  src/recordlinker/linking/matchers.py
  src/recordlinker/models/algorithm.py
  src/recordlinker/schemas/__init__.py
  src/recordlinker/schemas/algorithm.py
  src/recordlinker/schemas/pii.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

removing log_odds from kwargs
  src/recordlinker/linking/matchers.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

pass context to mpi_service.BlockData.get
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  tests/unit/database/test_mpi_service.py
Due: tests-code-checks

validation for missing log odds
  src/recordlinker/schemas/algorithm.py
  tests/unit/database/test_algorithm_service.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

adding schema.LogOdd test cases
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

fix linting
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

Partially implemented preview config link
  src/ui/public/files/config-preview.pdf
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/components/header/header.tsx
  src/ui/src/components/icons/icons.tsx
  src/ui/src/components/menu/menu.tsx
  src/ui/src/utils/constants.ts
Due: frontend-code-checks

Add get record endpoint for Match Review page (#328)
  src/api/recordlinker/assets/demo_data.json
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/__init__.py
  src/api/recordlinker/schemas/demo.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Updated import
  src/ui/src/components/infoTooltip/infoTooltip.tsx
Due: frontend-code-checks

Fixed import from react
  src/ui/src/components/infoTooltip/infoTooltip.tsx
Due: frontend-code-checks

Match review page (#329)
  src/api/recordlinker/main.py
  src/ui/eslint.config.mjs
  src/ui/src/app/match-queue/emptyQueue.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/matchReview.module.scss
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/backToLink/BackToLink.module.scss
  src/ui/src/components/backToLink/BackToLink.tsx
  src/ui/src/components/icons/icons.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/components/serverError/errorHeading.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/data/recordQueue.ts
  src/ui/src/models/dataStream.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
  src/ui/src/utils/constants.ts
Due: api-code-checks, frontend-code-checks

Fixed importw
  src/ui/src/app/match-review/page.tsx
  src/ui/src/components/backToLink/backToLink.module.scss
  src/ui/src/components/backToLink/backToLink.tsx
Due: frontend-code-checks

Fixed import order
  src/ui/src/app/match-review/page.tsx
Due: frontend-code-checks

creating advanced section in AlgorithmContext
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  src/recordlinker/models/algorithm.py
  src/recordlinker/schemas/algorithm.py
  tests/unit/database/test_algorithm_service.py
  tests/unit/database/test_mpi_service.py
  tests/unit/linking/test_link.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

add optional evaluator fuzzy params
  src/recordlinker/linking/link.py
  src/recordlinker/linking/matchers.py
  src/recordlinker/schemas/__init__.py
  src/recordlinker/schemas/algorithm.py
  tests/unit/database/test_algorithm_service.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_matchers.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

add link/unlink endpoints
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

linking invoke tests
  tests/unit/linking/test_link.py
Due: tests-code-checks

bump max_age to 1 hour
  src/api/recordlinker/session_store.py
Due: api-code-checks

reset person_id for incoming_record to null when unlinking
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

add tests
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

fixing dibbs default
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/linking/matchers.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
Due: tests-code-checks

update return type
  src/api/recordlinker/routes/demo_router.py
Due: api-code-checks

ensure cookie cannot be set by user
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

change cookie value to boolean
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Fixed style of configuration link
  src/ui/src/components/header/header.module.scss
  src/ui/src/components/header/header.tsx
  src/ui/src/components/menu/menu.module.scss
  src/ui/src/components/menu/menu.tsx
Due: frontend-code-checks

Record table tooltip (#331)
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/components/backToLink/backToLink.module.scss
  src/ui/src/components/backToLink/backToLink.tsx
  src/ui/src/components/icons/icons.tsx
  src/ui/src/components/infoTooltip/infoTooltip.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Algorithm config link (#336)
  src/ui/public/files/config-preview.pdf
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/components/header/header.module.scss
  src/ui/src/components/header/header.tsx
  src/ui/src/components/icons/icons.tsx
  src/ui/src/components/menu/menu.module.scss
  src/ui/src/components/menu/menu.tsx
  src/ui/src/utils/constants.ts
Due: frontend-code-checks

Added flex styling to fix positioning of link
  src/ui/src/components/menu/menu.tsx
Due: frontend-code-checks

do not overwrite linked_status except for actual changes
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

remove session expiration
  src/api/recordlinker/session_store.py
Due: api-code-checks

Added flex styling to fix positioning of link (#337)
  src/ui/src/components/menu/menu.tsx
Due: frontend-code-checks

update get funcs to use session data
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

add test for queue page with update
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Update default skips
  compose.yml
  src/recordlinker/assets/initial_algorithms.json
  tests/algorithm/configurations/algorithm_configuration.json
Due: none

integrated endpoints
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/footer/footer.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
  src/ui/src/models/recordMatch.ts
  src/ui/src/utils/deserializers.ts
Due: frontend-code-checks

removing log odds cache to improve readability
  src/recordlinker/schemas/algorithm.py
Due: none
