Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

Fixed aligment of instruction list in server error screen
  src/api/recordlinker/main.py
  src/ui/eslint.config.mjs
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/data/recordQueue.ts
Due: api-code-checks, frontend-code-checks

named routes (#277)
  src/recordlinker/main.py
  src/recordlinker/routes/algorithm_router.py
  src/recordlinker/routes/link_router.py
  src/recordlinker/routes/patient_router.py
  src/recordlinker/routes/person_router.py
  src/recordlinker/routes/seed_router.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/routes/test_link_router.py
  tests/unit/routes/test_patient_router.py
  tests/unit/routes/test_person_router.py
  tests/unit/routes/test_seed_router.py
  tests/unit/test_main.py
  tests/unit/test_middleware.py
Due: tests-code-checks

adding a setting to control the api root path
  src/recordlinker/config.py
  tests/unit/test_config.py
Due: tests-code-checks

updating the api to use the config.api_root_path
  src/recordlinker/main.py
Due: none

replacing hardcoded url with named route
  tests/unit/routes/test_seed_router.py
Due: tests-code-checks

changing path for health check to be API root
  src/recordlinker/main.py
Due: none

updating smoke test urls
  .github/workflows/check_smoke_tests.yml
Due: none

adding configuration docs for API_ROOT_PATH
  docs/site/configuration.md
Due: none

Fixed text style of link score column
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Update src/ui/src/app/record-queue/layout.tsx
  src/ui/src/app/record-queue/layout.tsx
Due: frontend-code-checks

Update src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

Update src/ui/src/components/serverError/serverError.tsx
  src/ui/src/components/serverError/serverError.tsx
Due: frontend-code-checks

Fixed typo in tmp models
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/models/patient.ts
Due: frontend-code-checks

Fixed review link href
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/data/recordQueue.ts
Due: frontend-code-checks

swapping models.Algorithm for schemas.Algorithm
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  src/recordlinker/models/mpi.py
  src/recordlinker/routes/link_router.py
  src/recordlinker/schemas/algorithm.py
Due: none

Merge/v25.5.0 into demo (#319)
  docs/site/reference.md
  src/api/recordlinker/models/algorithm.py
  src/api/recordlinker/schemas/algorithm.py
  src/api/recordlinker/schemas/identifier.py
  src/api/recordlinker/schemas/pii.py
  tests/unit/routes/test_algorithm_router.py
  tests/unit/schemas/test_algorithm.py
  tests/unit/schemas/test_identifier.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks, api-code-checks

rename clean method to remove_skip_values
  src/recordlinker/linking/clean.py
  src/recordlinker/linking/link.py
  tests/unit/linking/test_clean.py
Due: tests-code-checks

Record queue page (#318)
  src/api/recordlinker/main.py
  src/ui/eslint.config.mjs
  src/ui/public/images/empty-folder.png
  src/ui/public/images/up-tick.svg
  src/ui/src/app/page.tsx
  src/ui/src/app/record-queue/emptyQueue.tsx
  src/ui/src/app/record-queue/layout.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/wizard/page.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/components/serverError/errorHeading.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/data/recordQueue.ts
  src/ui/src/models/dataStream.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
  src/ui/src/styles/global.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
  src/ui/src/utils/constants.ts
Due: api-code-checks, frontend-code-checks

add asset
  src/api/recordlinker/assets/record_queue_data.json
Due: none

Implemented static elements in record review page
  src/ui/src/app/record-queue/layout.tsx
  src/ui/src/app/record-queue/page.tsx
  src/ui/src/app/record-review/page.tsx
  src/ui/src/app/record-review/recordComparison.tsx
  src/ui/src/components/Icons/icons.tsx
  src/ui/src/components/backToLink/BackToLink.module.scss
  src/ui/src/components/backToLink/BackToLink.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/components/serverError/errorHeading.tsx
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

adding skip values to json
  src/recordlinker/assets/initial_algorithms.json
  tests/algorithm/configurations/algorithm_configuration.json
Due: none

adding schema model/field serializers
  src/recordlinker/schemas/algorithm.py
  src/recordlinker/schemas/pii.py
Due: none

fixing test cases
  tests/unit/conftest.py
  tests/unit/database/test_mpi_service.py
  tests/unit/linking/test_link.py
  tests/unit/routes/test_link_router.py
Due: tests-code-checks

endpoint stub
  src/api/recordlinker/assets/record_queue_data.json
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/demo.py
Due: api-code-checks

Add suffix normalization
  src/recordlinker/assets/suffixes.json
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

rename clean.matches
  src/recordlinker/linking/clean.py
  tests/unit/linking/test_clean.py
Due: tests-code-checks

ignoring nextjs build artifacts
  .gitignore
Due: none

renaming clean module to skip_values
  src/recordlinker/linking/link.py
  src/recordlinker/linking/skip_values.py
  tests/unit/linking/test_skip_values.py
Due: tests-code-checks

Implemented styling of review page
  src/ui/package-lock.json
  src/ui/package.json
  src/ui/src/app/record-review/recordComparison.tsx
  src/ui/src/app/record-review/recordReview.module.scss
  src/ui/src/components/Icons/icons.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/styles/uswds-customized.scss
  src/ui/src/styles/variables.scss
Due: frontend-code-checks

Fixed type import
  src/ui/src/app/record-review/recordComparison.tsx
Due: frontend-code-checks

updating docs for skip values
  docs/developer_guide.md
  docs/site/reference.md
Due: none

removing ellipsis
  docs/site/reference.md
Due: none

Added styling to highlight text
  src/ui/src/app/record-review/page.tsx
  src/ui/src/app/record-review/recordComparison.tsx
  src/ui/src/app/record-review/recordReview.module.scss
  src/ui/src/components/backToLink/BackToLink.module.scss
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

fixed roles
  src/ui/src/app/record-review/recordComparison.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Better casing logic, new tests
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

adding new config settings for managing session state
  docs/site/configuration.md
  scripts/bootstrap.sh
  src/api/recordlinker/config.py
Due: api-code-checks

adding session store module
  pyproject.toml
  src/api/recordlinker/session_store.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks

adding secret key value to smoke tests
  .github/workflows/check_smoke_tests.yml
Due: none

adding another test
  tests/unit/test_session_store.py
Due: tests-code-checks
