Repository CDCgov/RecordLinker: changes, and which lefthook commands are due for each by the changed paths.
All: tests-code-checks, api-code-checks, frontend-code-checks, frontend-style-checks

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    tests-code-checks:
      glob: "tests/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    api-code-checks:
      glob: "src/api/recordlinker/*.py"
      run: "./.venv/bin/ruff check --fix {staged_files} && git add {staged_files}"
    frontend-code-checks:
      root: "src/ui"
      glob: "*.{js,ts,jsx,tsx}"
      run: "./node_modules/.bin/eslint --fix {staged_files} && ./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"
    frontend-style-checks:
      root: "src/ui"
      glob: "*.css"
      run: "./node_modules/.bin/prettier --write {staged_files} && git add {staged_files}"

Use schemas.Algorithm for linking (#321)
  src/recordlinker/assets/initial_algorithms.json
  src/recordlinker/database/mpi_service.py
  src/recordlinker/linking/link.py
  src/recordlinker/models/mpi.py
  src/recordlinker/routes/link_router.py
  src/recordlinker/schemas/algorithm.py
  src/recordlinker/schemas/pii.py
  tests/algorithm/configurations/algorithm_configuration.json
  tests/unit/conftest.py
  tests/unit/database/test_mpi_service.py
  tests/unit/linking/test_link.py
  tests/unit/routes/test_link_router.py
Due: tests-code-checks

add demo data
  src/api/recordlinker/assets/demo_data.json
Due: none

add demo router
  src/api/recordlinker/assets/record_queue_data.json
  src/api/recordlinker/main.py
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/__init__.py
  src/api/recordlinker/schemas/demo.py
Due: api-code-checks

add test
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

add tests
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

remove models.AlgorithmPass
  src/recordlinker/database/algorithm_service.py
  src/recordlinker/models/__init__.py
  src/recordlinker/models/algorithm.py
  tests/unit/database/test_algorithm_service.py
  tests/unit/models/test_algorithm.py
  tests/unit/routes/test_algorithm_router.py
Due: tests-code-checks

add delete_session function
  src/api/recordlinker/session_store.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks

Renamed of files and components to match latest terminology in figma
  src/api/recordlinker/main.py
  src/ui/src/app/match-queue/emptyQueue.tsx
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordReview.module.scss
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/serverError/serverError.module.scss
  src/ui/src/components/serverError/serverError.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/utils/constants.ts
Due: api-code-checks, frontend-code-checks

reverted dependency update
  src/ui/package-lock.json
  src/ui/package.json
Due: none

Add suffix normalization (#322)
  src/recordlinker/assets/suffixes.json
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

remove print statement
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

linting
  src/api/recordlinker/schemas/__init__.py
Due: api-code-checks

session store (#324)
  .github/workflows/check_smoke_tests.yml
  docs/site/configuration.md
  pyproject.toml
  scripts/bootstrap.sh
  src/api/recordlinker/config.py
  src/api/recordlinker/session_store.py
  tests/unit/test_session_store.py
Due: tests-code-checks, api-code-checks

Added suspense boundary
  src/ui/eslint.config.mjs
  src/ui/src/app/match-review/page.tsx
  src/ui/src/data/matchReview.ts
Due: frontend-code-checks

Add list records endpoint for Match Queue page (#325)
  src/api/recordlinker/assets/demo_data.json
  src/api/recordlinker/main.py
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/__init__.py
  src/api/recordlinker/schemas/demo.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

Prepend during blocking
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

removing fnmatch syntax from skip values
  docs/site/reference.md
  rfc/003-skip-values.md
  src/recordlinker/linking/skip_values.py
  src/recordlinker/schemas/pii.py
  tests/unit/linking/test_skip_values.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

add incoming & potential match data
  src/api/recordlinker/assets/demo_data.json
Due: none

add data
  src/api/recordlinker/assets/demo_data.json
Due: none

get record endpoint
  src/api/recordlinker/routes/demo_router.py
  src/api/recordlinker/schemas/demo.py
Due: api-code-checks

update address in demo data
  src/api/recordlinker/assets/demo_data.json
Due: none

make fields optional
  src/api/recordlinker/schemas/demo.py
Due: api-code-checks

add tests
  src/api/recordlinker/routes/demo_router.py
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks, api-code-checks

appease mypy
  src/api/recordlinker/assets/demo_data.json
  src/api/recordlinker/schemas/demo.py
Due: api-code-checks

add test for valid but non matching data
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

Update site docs
  docs/site/reference.md
Due: none

Fixed types
  src/ui/src/app/match-queue/page.tsx
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/data/matchQueue.ts
  src/ui/src/data/matchReview.ts
  src/ui/src/models/dataStream.ts
  src/ui/src/models/patient.ts
  src/ui/src/models/record.ts
Due: frontend-code-checks

Implemented formatting of labels
  src/ui/src/app/match-review/recordCompare.tsx
Due: frontend-code-checks

Code clean up
  src/ui/src/app/match-queue/layout.tsx
  src/ui/src/app/match-review/page.tsx
  src/ui/src/app/match-review/recordReview.module.scss
Due: frontend-code-checks

process skip values (#291)
  .gitignore
  docs/developer_guide.md
  docs/site/reference.md
  rfc/003-skip-values.md
  src/recordlinker/linking/link.py
  src/recordlinker/linking/matchers.py
  src/recordlinker/linking/skip_values.py
  src/recordlinker/schemas/pii.py
  tests/unit/linking/test_link.py
  tests/unit/linking/test_skip_values.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

have root path redirect to redoc docs
  src/recordlinker/main.py
Due: none

change base url variable for smoke tests
  .github/workflows/check_smoke_tests.yml
Due: none

fix linting
  src/recordlinker/main.py
Due: none

add test case for root
  tests/unit/test_main.py
Due: tests-code-checks

update test data and tests to linked = null
  src/api/recordlinker/assets/demo_data.json
  tests/unit/routes/test_demo_router.py
Due: tests-code-checks

Prepend during blocking (#327)
  docs/site/reference.md
  src/recordlinker/schemas/pii.py
  tests/unit/schemas/test_pii.py
Due: tests-code-checks

implemented info tooltip component and custom styles applied to uswds tooltip
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/components/Icons/icons.tsx
  src/ui/src/components/infoTooltip/infoTooltip.tsx
  src/ui/src/components/recordTable/recordTable.tsx
  src/ui/src/styles/uswds-customized.scss
Due: frontend-code-checks

Fixed break word of tooltip content
  src/ui/src/components/recordTable/recordTable.tsx
Due: frontend-code-checks

Fixed file names
  src/ui/src/app/match-review/matchReview.module.scss
  src/ui/src/app/match-review/recordCompare.tsx
  src/ui/src/app/match-review/recordView.tsx
  src/ui/src/components/backToLink/BackToLink.tsx
  src/ui/src/components/serverError/serverError.tsx
Due: frontend-code-checks

Renaming folder with lowercase
  src/ui/src/components/icons/icons.tsx
Due: frontend-code-checks
